name: Lean Action CI

on:
  push:
    branches: ["master"] # Ejecutar en master
  pull_request:          # Ejecutar tests en PRs
  workflow_dispatch:     # Ejecutar manualmente si se necesita

# Permisos necesarios para subir a GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    
    steps:
      # 1. Bajar el código (Usa v4, v5 no existe)
      - name: Checkout
        uses: actions/checkout@v4

      # 2. Instalar Elan y compilar el proyecto (Testeo básico)
      - name: Build and Check
        uses: leanprover/lean-action@v1

      # 3. Generar documentación (SOLO en la rama master)
      - name: Generate Docs
        if: github.ref == 'refs/heads/master'
        uses: leanprover-community/docgen-action@v1

      # 4. Desplegar a GitHub Pages (SOLO si se generaron los docs)
      - name: Deploy to GitHub Pages
        if: github.ref == 'refs/heads/master'
        uses: actions/deploy-pages@v4